{% extends 'myadmin/base.html' %}
{% block main_body %}
<section class="content-header">
  <h1>部门管理</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li class="active">部门管理</li>
  </ol>
</section>

<section class="content container-fluid">
  <div class="row">
    {% for dept in departments %}
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ dept.name }}</h3>
        </div>
        <div class="box-body">
          {% if dept.employeeprofile_set.all %}
          <ul class="list-group">
            {% for emp in dept.employeeprofile_set.all %}
            <li class="list-group-item">
              <strong>{{ emp.user.get_full_name|default:emp.user.username }}</strong><br>
              工号：{{ emp.work_no }}<br>
              电话：{{ emp.phone|default:"-" }}<br>
              岗位：{{ emp.post|default:"-" }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="text-muted">暂无员工</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
